<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weather App</title>

    <%- include('../components/head.ejs') %>
</head>
<body class="bg-dark vh-100">

    <%- include('../components/navbar.ejs') %>

    <style>
        body {
            font-family: "Helvetica", Arial, sans-serif;
            color: #ffffff; /* Change text color to white */
            background-color: #222; /* Set background color to #222 */
        }

        body input[type="text"],
        body input[type="number"],
        body button {
            background-color: #5c0054; /* Change button background color to #5c0054 */
            color: #fff; /* Change button text color to white */
            border-color: #990872;
        }

        body input[type="text"]::placeholder,
        body input[type="number"]::placeholder {
            color: #656565;
        }

        .news-item {
            background-color: #000000;
            color: #fffbfb;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .news-item img {
            max-width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .news-content {
            font-size: 1.1rem;
        }

        .news-content h2 {
            margin-bottom: 10px;
        }

        .btn-primary {
            background-color: #5c0054;
            border-color: #5c0054;
        }

        .btn-primary:hover {
            background-color: #990872;
            border-color: #990872;
        }

    </style>


    <div class="container">
        <div class="fs-1 fw-semibold my-3">The Weather News</div>

        <div class="row">
            <% data.forEach(function(article) { %>
                <div class="col-md-6 mb-4">
                    <div class="news-item">
                        <% if(article.image) { %>
                            <img src="<%= article.image %>" alt="Article Image" class="img-fluid">
                        <% } %>
                        <div class="news-content">
                            <h2><%= article.title %></h2>
                            <p><%= article.description %></p>
                            <a href="<%= article.url %>" class="btn btn-primary" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <%- include('../components/footer.ejs') %>

    <% if (error) { %>
        <script>
            Swal.fire({
                title: "An error occurred!",
                text: "<%= error %>",
                icon: "error"
            });
        </script>
    <% } %>
</body>
</html>
